<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
</head>
<body>
  <h2>User Messages</h2>

  <table border="1" cellpadding="10">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th>Action</th>
    </tr>

    <% users.forEach(user => { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.message %></td>
        <td>
          <form action="/admin/delete/<%= user._id %>" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>

</body>
</html>
